@import url("https://use.typekit.net/ymp0zrq.css");
html,
body {
  font-size: 100%;
  font-family: neue-haas-unica, sans-serif;
  font-weight: 200;
  font-style: normal;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}

.active {
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: default;
  text-align: right;
}

#container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer {
  opacity: 0;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 0.3em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.logo {
  position: relative;
  background-image: url("../assets/logo.png");
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 4rem auto;
  z-index: 5000;
}

.col-left {
  position: relative;
  border-right: 1px solid lightgray;
  width: 20%;
  background-color: #F1F1F1;
}

.col-right {
  position: relative;
  border-left: 1px solid lightgray;
  width: 20%;
  background-color: #F1F1F1;
}

.col-center {
  position: relative;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F1F1F1;
}

.navigation {
  position: absolute;
  right: 0;
  width: 100vh;
  height: 80px;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(90deg) translateY(-100vh);
          transform: rotate(90deg) translateY(-100vh);
  z-index: 100;
}

.nav-tabs {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 20px;
  padding-left: 1.5rem;
}

.underline {
  color: gray;
  font-weight: 200;
  font-size: 1.3rem;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.underline:hover {
  color: black;
}

.underline:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  width: 0;
}

.underline:hover:after {
  width: 100%;
  left: 0;
}

.item {
  list-style: none;
  margin: 10px;
  position: relative;
  overflow: hidden;
  padding: 0 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.item:hover .hover {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.item:hover .base {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.item > a {
  width: 100%;
  height: 100%;
}

.base {
  text-align: center;
  display: block;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.default {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  visibility: hidden;
}

.hover {
  font-weight: 400;
  position: absolute;
  text-align: left;
  top: -100%;
  left: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  height: 50%;
  opacity: 0;
}

.intro > div {
  width: 50%;
  margin: 0 3%;
}

.introRight {
  height: 82%;
  background-image: url("../assets/headshot-min.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
}

.introLeft {
  height: 85%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.name {
  font-weight: 200;
  font-size: 1.6rem;
  margin-left: -0.1rem;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.tags {
  font-size: 0.8rem;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.content {
  margin-top: 1rem;
  font-size: 0.9rem;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  background-color: white;
  z-index: 100;
  -webkit-transition: width 1.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: width 1.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.projects {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: 35%;
  z-index: 200;
}

.projects > div:hover {
  opacity: 1 !important;
}

.painting {
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 19%;
  -webkit-transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  background-size: cover;
  border-radius: 3px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
}

.painting1 {
  margin-right: 1%;
  background-image: url("/assets/placeholders/1.jpg");
}

.painting2 {
  margin: 0% 1%;
  background-image: url("/assets/placeholders/2.jpg");
}

.painting3 {
  margin: 0% 1%;
  background-image: url("/assets/placeholders/3.jpg");
}

.painting4 {
  margin: 0% 1%;
  background-image: url("/assets/placeholders/4.jpg");
}

.painting5 {
  margin-left: 1%;
  background-image: url("/assets/placeholders/5.jpg");
}

/* Basic styling */
svg {
  width: 100%;
}

.filled-heading {
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 5em;
  line-height: 0.9;
}

/* Animate the background shapes */
#background path {
  -webkit-animation: pulse 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
          animation: pulse 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
  /* Necessary to keep the SVG objects in place while scaling */
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  transform-box: fill-box;
}

@-webkit-keyframes pulse {
  /* Rotating it along with the scale makes it a little bit more fancy */
  0%,
  100% {
    -webkit-transform: scale(0) rotate(33deg);
            transform: scale(0) rotate(33deg);
  }
  35%,
  65% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
}

@keyframes pulse {
  /* Rotating it along with the scale makes it a little bit more fancy */
  0%,
  100% {
    -webkit-transform: scale(0) rotate(33deg);
            transform: scale(0) rotate(33deg);
  }
  35%,
  65% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
}

.mobile {
  display: none;
}

@media only screen and (max-height: 900px) {
  .introRight {
    height: 100%;
    background-image: url("../assets/headshot-min.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
  }
}

@media only screen and (max-width: 1000px) {
  .mobile {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10000;
    -webkit-animation: colorchange 50s;
            animation: colorchange 50s;
  }
}

@-webkit-keyframes colorchange {
  0% {
    background: #FF9AA2;
  }
  25% {
    background: #FFDAC1;
  }
  50% {
    background: #E2F0CB;
  }
  75% {
    background: #B5EAD7;
  }
  100% {
    background: #C7CEEA;
  }
}

@keyframes colorchange {
  0% {
    background: #FF9AA2;
  }
  25% {
    background: #FFDAC1;
  }
  50% {
    background: #E2F0CB;
  }
  75% {
    background: #B5EAD7;
  }
  100% {
    background: #C7CEEA;
  }
}
/*# sourceMappingURL=index.css.map */