@import url("https://use.typekit.net/ymp0zrq.css");
// * {
//     border: 1px solid black;
// }
html,
body {
    font-size: 100%;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 200;
    font-style: normal;
    margin: 0;
    padding: 0;
}

h1,
h2,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
}

ul {
    list-style: none;
    padding: 0;
}

.bgContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.logo {
    background-image: url("../assets/logo.png");
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 4rem auto;
}

.col-left {
    border-right: 1px solid lightgray;
    width: 20%;
}

.col-right {
    position: relative;
    border-left: 1px solid lightgray;
    width: 20%;
}

.col-center {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 500px;
    height: 500px;
    border: 1px solid red;
}

.nav {
    display: flex;
}

.item {
    margin: 10px;
    position: relative;
    overflow: hidden;
    width: 70px;
}

.base {
    width: 100%;
    text-align: center;
    display: block;
    transition: all .5s cubic-bezier(.23, 1, .32, 1);
}

.default {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    visibility: hidden;
}

.item:hover .hover,
.item:hover .base {
    transform: translate(0, 100%);
}

.hover {
    width: 100%;
    font-weight: 400;
    position: absolute;
    text-align: center;
    top: -100%;
    left: 0;
    transition: all .5s cubic-bezier(.23, 1, .32, 1);
}

a {
    width: 100%;
    height: 100%;
}